<h2>Upraviť nastavenia účtu</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="divider"></div>

  <div class="form-group">
    <%= f.label :password, "Heslo" %> <i>(nechajte prázdne ako heslo nechcete zmeniť)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <% if @minimum_password_length %>
      <p class="help-block">minimálna dĺžka <%= @minimum_password_length %> znakov</p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Potvrdenie hesla" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "Aktuálne heslo" %> <i>(potrebujeme vaše akutálne heslo aby sme mohli potvrdiť zmeny)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Uložiť nastavenia účtu", class: "btn btn-primary pull-right" %>
  </div>
<% end %>

<%= link_to "Späť", :back %>
