<%= form_for wage_category do |f| %>
    <%= render 'layouts/errors', model: wage_category %>

    <div class="form-group">
      <%= f.label "Názov" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Hodinová mzda" %>
      <%= f.number_field :wage_per_hour, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Uložiť kategóriu mzdy", class: "btn btn-primary" %>
    </div>
<% end %>