<header class="info-header">
  <h1>Skupiny</h1>
  <%= link_to "Pridať novú skupinu", new_group_path, class: 'btn btn-primary pull-right' %>
</header>

<hr>

<% if @groups.size > 4 %>
  <% @left,@right = @groups.each_slice((@groups.size/2.0).round).to_a %>
<% end %>

<% if @groups.size > 4 %>
<div class="double-table">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= sortable("group_number", "Číslo skupiny") %></th>
        <th colspan="2" align="center">Akcie</th>
      </tr>
    </thead>

    <tbody>
      <% @left.each do |group| %>
        <tr>
          <td><%= group.group_number %></td>
          <td align="center">
            <%= link_to edit_group_path(group) do %>
              <span class="glyphicon glyphicon-pencil"></span> Upraviť
            <% end %>
          </td>
          <td align="center">
            <%= link_to group, method: :delete, data: { confirm: "Ste si istý?"} do %>
              <span class="glyphicon glyphicon-trash"></span> Vymazať
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= sortable("group_number", "Číslo skupiny") %></th>
        <th colspan="2" align="center">Akcie</th>
      </tr>
    </thead>

    <tbody>
    <% @right.each do |group| %>
      <tr>
        <td><%= group.group_number %></td>
        <td align="center">
          <%= link_to edit_group_path(group) do %>
            <span class="glyphicon glyphicon-pencil"></span> Upraviť
          <% end %>
        </td>
        <td align="center">
          <%= link_to group, method: :delete, data: { confirm: "Ste si istý?"} do %>
            <span class="glyphicon glyphicon-trash"></span> Vymazať
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= sortable("group_number", "Číslo skupiny") %></th>
        <th colspan="2" align="center">Akcie</th>
      </tr>
    </thead>

    <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_number %></td>
        <td align="center">
          <%= link_to edit_group_path(group) do %>
            <span class="glyphicon glyphicon-pencil"></span> Upraviť
          <% end %>
        </td>
        <td align="center">
          <%= link_to group, method: :delete, data: { confirm: "Ste si istý?"} do %>
            <span class="glyphicon glyphicon-trash"></span> Vymazať
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>