<div class="form--narrow">
<h2>Zabudli ste svoje heslo?</h2>
<p>Žiadny problém, stačí ak vyplníte emailovú adresu, ktorú ste zadali pri registrácii:</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Zaslať návod ako nastaviť heslo", class: 'btn btn-primary' %>
  </div>
<% end %>
  <div class="line">
    <%= render "devise/shared/links" %>
  </div>
</div>