<%= form_for teacher do |f| %>
    <%= render 'layouts/errors', model: teacher %>

    <div class="form-group">
        <%= f.label "Meno a priezvisko" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "Email" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <h3>Vyučované predmety</h3>
      <table class="table table-striped table-bordered">
        <thead>
        <td colspan="2">Predmet</td>
        <td align="center">Je prednášajúci</td>
        </thead>
        <%= f.collection_check_boxes(:course_ids, Course.all, :id, :name) do |c| %>
            <tr>
              <td align="center" class="course--checkbox">
                <%= c.check_box(class: "checkbox") %>
              </td>
              <td class="course--checkbox">
                <div><%= c.label %></div>
                <% if @teacher.courses.include?(c.object) %>
                  <div class="course__wrap">
                  <div style="padding-right: 1em;">Skupiny:</div>
                  <div class="course__groups">
                    <% # collection_check_boxes("teacher", "tgc", c.object.groups, :group_number, :group_number) %>

                    <% c.object.groups.each do |g| %>
                      <% if teacher.teacher_group_courses.any? { |el| el.group_id == g.id && el.course_id == c.object.id } %>
                      <label class="tgc__label"><input type="checkbox" name="teacher[tgc]" class="teacher-course-group" value="<%= g.id %>" data-course="<%= c.object.id %>" data-group="<%= g.id %>" data-teacher="<%= teacher.id %>" checked> <%= g.group_number %> </label>
                      <% else %>
                      <label class="tgc__label"><input type="checkbox" name="teacher[tgc]" class="teacher-course-group" value="<%= g.id %>" data-course="<%= c.object.id %>" data-group="<%= g.id %>" data-teacher="<%= teacher.id %>"> <%= g.group_number %> </label>
                      <% end %>
                    <% end %>
                  </div>
                  </div>
                <% end %>
              </td>
              <td align="center" class="course--checkbox">
                <%= check_box_tag "teacher[lecturer_ids][]", c.object.id, teacher.lecturer_ids.include?(c.object.id) %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>

    <div class="actions form-group pull-right">
      <%= link_to "Zobraziť aktuálnu zostavu", teacher, class: "btn btn-default" %>
      <%= f.submit "Uložiť vyučujúceho", class: "btn btn-primary" %>
    </div>
<% end %>