<header class="info-header">
  <h1>Vyučujúci</h1>
  <%= link_to "Pridať vyučujúceho", new_teacher_path, class: 'btn btn-primary pull-right' %>
</header>
<hr>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sortable("name", "Meno") %></th>
      <th><%= sortable("email") %></th>
      <th colspan="4" align="center">Akcie</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td align="center">
          <%= link_to teacher do %>
            <span class="glyphicon glyphicon-search"></span> Prehľad
          <% end %>
        </td>
        <td align="center">
          <%= link_to teacher_reports_path(teacher) do %>
            <span class="glyphicon glyphicon-folder-open"></span> Generované dokumenty
          <% end %>
        </td>
        <td align="center">
          <%= link_to edit_teacher_path(teacher) do %>
            <span class="glyphicon glyphicon-pencil"></span> Upraviť
          <% end %>
        </td>
        <td align="center">
          <%= link_to teacher, method: :delete, data: { confirm: "Ste si istý?"} do %>
            <span class="glyphicon glyphicon-trash"></span> Vymazať
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


