<h1>Predmety</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td rowspan="2" class="tdmiddle">Kód</td>
      <td rowspan="2" style="vertical-align: middle">Meno</td>
      <td colspan="3" align="center">Hodín týždenne</td>
      <td colspan="2" rowspan="2" align="center">Akcie</td>
    </tr>
    <tr>
      <td align="right">Prednášky</td>
      <td align="right">Cvičenia</td>
      <td align="right">Lab. cvičenia</td>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td align="right"><%= course.lectures_weekly %></td>
        <td align="right"><%= course.classes_weekly %></td>
        <td align="right"><%= course.lab_classes_weekly %></td>
        <td align="center">
          <%= link_to edit_course_path(course) do %>
            <span class="glyphicon glyphicon-pencil"></span> Upraviť
          <% end %>
        </td>
        <td align="center">
          <%= link_to course, method: :delete, data: { confirm: "Ste si istý?"} do %>
            <span class="glyphicon glyphicon-trash"></span> Vymazať
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Pridať predmet", new_course_path %>
