<%= link_to "← Všetci vyučujúci", teachers_url %>

<h2>Dokumenty - <span style="font-weight: 400"><%= @teacher.name %></span></h2>

<hr>

<table class="table table-bordered table-striped">
  <thead>
    <td>Názov</td>
    <td>Dátum vytvorenia</td>
    <td>Stav</td>
    <td>Odoslané e-mailom</td>
    <td colspan="3" align="center">Akcie</td>
  </thead>

  <tbody>
  <% @teacher.documents.each do |doc| %>
      <tr>
        <td><%= doc.filename %></td>
        <td><%= doc.created_at.strftime("%d.%m.%Y") %></td>
        <td><%= doc.status %></td>
        <td>
          <% if doc.sent_count <= 0 %>
            Nie
          <% else %>
            Áno (<%= doc.sent_count %>x)
          <% end %>
        </td>
        <td align="center">
          <%= link_to teacher_report_url(@teacher.id, doc.id), target: "_blank" do %>
            <span class="glyphicon glyphicon-search"></span> Zobraziť
          <% end %>
        </td>
        <td align="center">
          <%= link_to teacher_report_email_url(@teacher.id, doc.id) do %>
            <span class="glyphicon glyphicon-envelope"></span> Odoslať e-mailom
          <% end %>
        </td>
        <td align="center">
          <%= link_to teacher_report_url(@teacher.id, doc.id), method: :delete do %>
            <span class="glyphicon glyphicon-trash"></span> Vymazať
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Vygenerovať aktuálnu zostavu", teacher_reports_path, method: :post, class: "btn btn-primary pull-right" %>
